<div class="card bg-dark text-white">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, rerum deleniti. Architecto ad nostrum iusto fuga pariatur, libero labore, sit reprehenderit illum nobis nisi! Officia est ullam quasi similique earum.
        Dolorem ratione numquam similique ipsa molestias rerum fuga est asperiores tempora iure possimus nihil, blanditiis quis cupiditate nostrum. Voluptatibus maiores ut voluptatum corrupti ex officia repellendus cumque vero animi commodi.
        Beatae, voluptatum ipsum praesentium dolor earum, magni rerum exercitationem hic aut quasi minus repellendus. Vitae repudiandae, laborum perspiciatis obcaecati ratione rem explicabo mollitia alias veniam illum fugiat sequi in deserunt.
        Quae, ipsa quos obcaecati vitae est facere temporibus nobis voluptatem architecto omnis voluptas asperiores? Dolorem neque, perferendis autem rem ea fugiat aliquid aspernatur consectetur molestias aut delectus? Aspernatur, libero nobis.
        Enim repellendus odit amet libero error recusandae facilis. Eaque, labore? Dignissimos repellat quos aliquam. Officia sequi facere nesciunt deleniti quam optio, commodi expedita, libero tempora ipsa exercitationem? Quibusdam, earum fuga!
        Soluta praesentium vero voluptatibus tempore modi magni sequi culpa eaque, optio cupiditate molestias asperiores est deserunt doloribus rerum vel aperiam quisquam pariatur illum laborum error placeat consequatur enim. Laborum, eveniet.
        Architecto consequatur in eos ea hic, ipsum illo ad facere reiciendis doloribus quisquam numquam magni sequi praesentium, tempora necessitatibus culpa deleniti aut vitae nemo fugit quam fuga, quia adipisci. Doloremque!
        Magni assumenda, mollitia officia, ipsum id doloremque, excepturi maxime consequuntur doloribus est aliquam quibusdam error fugit unde perspiciatis accusamus cum ut necessitatibus debitis eligendi optio praesentium? Consequuntur quam libero amet!
        Obcaecati maiores excepturi ratione. Impedit, necessitatibus? Fugit facilis sequi tempore? Consequatur voluptates alias nisi iusto a dolores quae incidunt eaque aperiam mollitia! Illo vitae temporibus ex nam quod porro laborum!
        </p>
    </div>
</div>