<div class="h-100 p-5 text-white bg-dark rounded-3">
    <h1>Notas con Nodejs y MongoDB</h2>
    <hr>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint vero quas qui ut nobis nulla
        minus ad quasi deserunt tenetur odio sapiente impedit vel inventore doloribus nostrum recusandae,
        perferendis sit.
    </p>
</div>